$primary-color: #ff5e13;
$secondary-color:#001b5e;
$info-color:#5091cd;
$warning-color:#faa21b;
$text-color:#6E7D8F;
$yellow-color:#FAA21B;
$footer-bg:#3e3e3e;
$footer-text:#aaa;


// overrides
$bg-dark:#364854 !important
