.banner-background{
    background-image: url('../img/Train-banner.jpg');
    height:55vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.font-weight-medium{
    font-weight:600;
}
.py-6{
    padding-top: 4rem !important;
    padding-bottom:4rem !important;
}
.yellow-color{
    color:$yellow-color
}
.text-primary{
    color:#b8232f !important;
}
.bg-light-red{
    background:#fbeeed;
}

p{
    line-height:1.76;
}
p.about-us-home{
    font-size:17px;
}
.line-height-sm {
    line-height:1.4;
}
