header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 20;
    background: white;
    width: 100%;
    padding:20px;
}
ul#menu{

    display: flex;
    margin:0px;
    padding:0px;
    li{
        list-style: none;
        margin:0px;
        a{
            padding:15px 40px;
            // background: rgba(0,0,0,0.4);
            margin-left: 20px;
            color: $bg-dark;

        }
    }
}
